<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Scrum</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Views/Shared/BurnDown.js" type="text/javascript"></script>
</head>
<body style="background-image:url(../../Imagem/scrum-glossary-agile-terms.png); background-repeat:no-repeat;" class="img-responsive">
    <div>
        @RenderBody()
    </div>
</body>
</html>
