@{
    Scrum.Web.Models.ScrumWebContext context = new Scrum.Web.Models.ScrumWebContext();
    ViewBag.Title = "Burndown - ScrumFac";
}
<h1 class="text-center">Sprint BurnDown</h1>
<hr />
<div class="form-group col-lg-12">

    <p class="col-lg-4" id="pIdProjeto">@Html.DropDownList("idProjeto", "-- Selecione Projeto --")</p>

    <p class="col-lg-4 hide" id="pIdSprint">@Html.DropDownList("idSprint", "-- Selecione Sprint --")</p>
    <input type="submit" value="Gerar Burndown" class="btn btn-primary" id="btnGerarBurnDown" />
</div>
<br />

<br />
<div style="width:80%;">
    <div>
        <canvas id="canvas" height="450" width="1000"></canvas>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $("select").addClass("form-control");
    $('#idProjeto').change(function () {
        //COLOCAR FUNÇAO PARA FILTRAR A SPRINT POR ID DO PROJETO E PREENCHER O DROPDOWN
        //COM AS SPRINTS DO PROJETO ESCOLHIDO
        $('#pIdProjeto').addClass('hide');
        var idProjeto = document.getElementById('idProjeto').value;

       // $.getJSON("/BurnDown/GetSprintProjeto/", { idProjeto: idProjeto }, function (data) { alert(data.titulo); });

        $.ajax({
            url: "/BurnDown/GetSprintProjeto/",
            type: 'GET',
            dataType: 'json',
            data: { idProjeto: idProjeto },
            //beforeSend: function () {
            //    var loading = "<span><em>Excluindo</em>&nbsp;<i class='glyphicon glyphicon-refresh icon-refresh-animate'></i></span>";
            //    $('#deleteModal .modal-header h4').after(loading);
            //},
            success: function (data) {
                alert(data.titulo);
            },
            complete: function (data) {
                alert(data.titulo);
            }
        });



        
        $('#pIdSprint').removeClass('hide');
    });


        //DROPDOWNLIST DE SPRINT SO VAI APARECER SE O RESULTADO FOR DIFERENTE DE 0 OU NULL



    $('#btnGerarBurnDown').click(function () {
        //QUANDO O BOTAO GERAR RELATORIO FOR CLICADO GERAR O RELATORIO DA SPRINT E COLOCAR OS
        //DROPDOWNLIST DEFAULT ATE MESMO OS VALORES
        
        $('#pIdSprint').addClass('hide');
        $('#pIdProjeto').removeClass('hide');


        var randomScalingFactor = function () { return Math.round(Math.random() * 100) };
        var meses = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho"];
        var dt1 = [100, 90, 95, 95, 67, 52, 34];
        var dt2 = [100, 100, 80, 72, 50, 20, 0];
        var lineChartData = {
            labels: meses,
            datasets: [
				{
				    label: "primeira",
				    fillColor: "rgba(220,220,220,0.2)",
				    strokeColor: "rgba(220,220,220,1)",
				    pointColor: "rgba(220,220,220,1)",
				    pointStrokeColor: "#fff",
				    pointHighlightFill: "#fff",
				    pointHighlightStroke: "rgba(220,220,220,1)",
				    data: dt1
				},
				{
				    label: "segunda",
				    fillColor: "rgba(151,187,205,0.2)",
				    strokeColor: "rgba(151,187,205,1)",
				    pointColor: "rgba(151,187,205,1)",
				    pointStrokeColor: "#fff",
				    pointHighlightFill: "#fff",
				    pointHighlightStroke: "rgba(151,187,205,1)",
				    data: dt2
				},
                {
                    label: "Ideal",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(255, 0, 0, 1)",
                    pointColor: "rgba(255, 0, 0, 1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(255, 0, 0, 1)",
                    data: [100, 84, 68, 51, 34, 17, 0]

                }
            ]

        };


        var ctx = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx).Line(lineChartData, {
            responsive: true
        });


    });

</script>
