@{
    Scrum.Web.Models.ScrumWebContext context = new Scrum.Web.Models.ScrumWebContext();
    ViewBag.Title = "Release Burndown - ScrumFac";
}
<h1 class="text-center">Release BurnDown</h1>
<hr />
<p class="col-lg-4" id="pIdProjeto">@Html.DropDownList("idProjeto", "-- Selecione Projeto --")</p>
<input type="submit" value="Gerar Release" class="btn btn-primary" id="btnGerarRelease" />
<hr />
<div style="width: 75%">
    <canvas id="canvas" height="450" width="800"></canvas>
</div>

<script type="text/javascript">
    $("select").addClass("form-control");

    $('#btnGerarRelease').click(function () {
        var idProjeto = $('#idProjeto').val();
        alert("No momento estamos em manutenção. Obrigado pela compreensão.")
        $.ajax({
            url: "/BurnDown/BuscarSprintProjeto/",
            type: 'GET',
            dataType: 'json',
            data: { pidProjeto: idProjeto },
            success: function (data) {
                createRelease(data);
            }
        });

    });

    
    function createRelease(burnDownRelease) {
        var lineChartData = {
            labels: burnDownRelease.SprintNome,
            datasets: [
                {
                    label: "Desempenho",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: burnDownRelease.Finalizado
                },
                {
                    label: "Meta Ideal",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(255, 0, 0, 1)",
                    pointColor: "rgba(255, 0, 0, 1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(255, 0, 0, 1)",
                    data: burnDownRelease.EmAndamento

                }
            ]

        };

        var ctx = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx).Line(lineChartData, {
            responsive: true
        });

        //var randomScalingFactor = function () { return Math.round(Math.random() * 100) };
        //var sprint = ["sprint 1", "sprint 2", "sprint 3", "sprint 4", "sprint 5"];
        //var valor = [150, 100, 243, 215, 504];
        //var barChartData = {
        //    labels: sprint,
        //    datasets: [{
        //        //    fillColor: "rgba(220,220,220,0.5)",
        //        //    strokeColor: "rgba(220,220,220,0.8)",
        //        //    highlightFill: "rgba(220,220,220,0.75)",
        //        //    highlightStroke: "rgba(220,220,220,1)",
        //        //    data: valor
        //        //}
        //        //, {
        //        fillColor: "rgba(151,187,205,0.5)",
        //        strokeColor: "rgba(151,187,205,0.8)",
        //        highlightFill: "rgba(151,187,205,0.75)",
        //        highlightStroke: "rgba(151,187,205,1)",
        //        data: valor
        //    }

        //    ]
        //}

        //var ctx = document.getElementById("canvas").getContext("2d");
        //window.myBar = new Chart(ctx).Bar(barChartData, {
        //    responsive: true
        //});
    }
</script>